body{
    margin: 0;
}
@font-face {
    font-family: 'yeseva-regular';
    src: url("../fonts/yeseva-regular.ttf");
}
.header{
    border: 1px solid black;
    background-image: linear-gradient(to right, rgb(249, 249, 252), rgb(241, 226, 212), rgb(233, 203, 171), rgb(225, 181, 131), rgb(217, 158, 90), rgb(209, 135, 50), rgb(217, 138, 45), rgb(224, 141, 39), rgb(232, 144, 34), rgb(240, 146, 29), rgb(247, 149, 23), rgb(255, 152, 18));
}
.header:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.header-logo{
    float: left;
    margin: 20px 0 0 40px;
    width: 95px;
    height: 120px;
}
.header-nav{

}
.header-nav-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    float: right;
    font-family: yeseva-regular;
    margin: 100px 15px 0 0;
}
.header-nav-list li{
    margin: 0 24px 0 0;

}
.header-nav-list li a{
    text-decoration: none;
    font-size: 20px;
    color: black;

}
.header-nav-list li a:hover{
    color: deepskyblue;
}
.social-icon-facebook svg{
    height: 20px;
}
.social-icon-facebook svg:hover{
    fill: deepskyblue;
}

.social-icon-twitter svg{
    height: 20px;

}
.social-icon-twitter svg:hover{
    fill: deepskyblue;
}
.social-icon-youtube svg{
    height: 20px;
}
.social-icon-youtube svg:hover{
    fill: deepskyblue;
}
.social-icon-instagram svg{
    height: 20px;

}
.social-icon-instagram svg:hover{
    fill: deepskyblue;
}